body {
  font-family: Arial, sans-serif;
  background-image: url("../images/background_site.png");
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}

.container {
  background-color: #000;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 2.5em;
}

#challengeRatingSelect {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 1em;
}

.monster-result {
  margin-top: 20px;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid red;
  padding: 8px;
  text-align: center;
}

th {
  background-color: red;
}

td {
  width: 16.66%;
}

.monster-image {
  max-width: 100%;
  max-height: 400px;
  height: auto;
  display: block;
  margin: 10px auto;
}
